
<div id="searchResults">
	<p class="message">{MESSAGE}</p>
	<!-- BEGIN:BLOCK -->
		<div class="searchResultItem">
			<h2 style="margin-bottom: 0px;">{NUM}. <a title="{TITLE}" href="{HREF}" target="{TARGET}">{CATNAME}</a></h2>
            <div style="font-size: 0.7em;">{SIMILARITY}</div>
			<p style="padding: 0px; margin: 0px 0px 10px 0px;">{HEADLINE}</p>
			<!--<img src="images/link_pfeil_klein.gif" alt="" /> <a title="{TITLE}" href="{HREF}" target="{TARGET}">{more}</a>-->
		</div>
	<!-- END:BLOCK -->
	<p class="result">{result_page}&nbsp;&nbsp;{PREV}{PAGES}{NEXT}</p>
</div>
<script>
    $(document).ready(function() {
        var isClick = false;
        $('.searchResultItem').click(function(e) {
            if (isClick == false) {
                isClick = true;
                $(this).find('a')[0].click();
                isClick = false;
            }
        }).css('cursor', 'pointer');
    });
</script>